<h4 class="mt-5">Creating form fields using JSON Object instructions</h4>
<tr>
  <th>general DTO</th>
  <td>{{fieldDTO }}</td>
</tr>

<table class="mt-3">
  <thead>
    <th>filed Type</th>
    <th>properties should have</th>
    <th>properties shouldn't have</th>

  </thead>
  <tr>
    <td>Textbox</td>
    <td>
      <ul>
        <li>controlType</li>
        <li>key</li>
        <li>label</li>
        <li>type <small>(optional)</small></li>
        <li>value<small>(optional)</small></li>
        <li>required<small>(optional)</small></li>
      </ul>
    </td>
    <td>
      <ul>
        <li>options</li>
      </ul>
    </td>

  </tr>
  <tr>
    <td>Dropdown</td>
    <td>
      <ul>
        <li>controlType</li>
        <li>key</li>
        <li>label</li>
        <li>options</li>
        <li>value<small>(optional)</small></li>
        <li>required<small>(optional)</small></li>
      </ul>
    </td>
    <td>
      <li>type</li>
    </td>

  </tr>
  <tr>
    <td>Checkbox</td>
    <td>
      <ul>
        <li>controlType</li>
        <li>key</li>
        <li>label</li>
        <li>options</li>
        <li>required<small>(optional)</small></li>
      </ul>
    </td>
    <td>
      <li>value</li>
      <li>type</li>
    </td>

  </tr>
  <tr>
    <td>RadioButton</td>
    <td>
      <ul>
        <li>controlType</li>
        <li>key</li>
        <li>label</li>
        <li>options</li>
        <li>required<small>(optional)</small></li>
      </ul>
    </td>
    <td>
      <li>value</li>
      <li>type</li>
    </td>

  </tr>
  <tr>
    <td>Button</td>
    <td>
      <ul>
        <li>controlType</li>
        <li>type</li>
        <li>value</li>
      </ul>
    </td>
    <td>
      <li>options</li>
      <li>label</li>
      <li>key</li>
      <li>required</li>
    </td>

  </tr>
</table>