button{
    margin-right: 1rem;
    margin-top: 1rem;
}
.errorMessage{
    color: rgb(185, 21, 21);
}
select.form-control{
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}