<span [formGroup]="form">
  <span [ngSwitch]="field?.controlType">

    <div class="form-group mt-3" *ngIf="field?.controlType != 'button'">
      <!-- label -->
      <label
        *ngIf="field?.controlType !== 'checkbox' || ((field?.controlType === 'checkbox') && (field?.type === 'multi'))"
        [attr.for]="field?.key">{{field?.label}}</label>

      <!-- field? -->

      <!-- textbox -->
      <input *ngSwitchCase="'textbox'" [id]="field?.key" [type]="field?.type" [formControlName]="field?.key"
        class="form-control">

      <!-- dropdown -->
      <select *ngSwitchCase="'dropdown'" [id]="field?.key" [formControlName]="field?.key" class="form-control">
        <option *ngFor="let opt of field?.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <!-- checkbox -->
      <span *ngSwitchCase="'checkbox'">
        <div class="form-check" *ngFor="let chxOpt of field?.options">
          <input class="form-check-input" [formControlName]="chxOpt.value" type="checkbox" [id]="chxOpt.key">
          <label class="form-check-label" [for]="chxOpt.key">
            {{chxOpt.value}}
          </label>
        </div>
      </span>

      <!-- radioButton -->
      <span *ngSwitchCase="'radioButton'">
        <div class="form-check" *ngFor="let radioOpt of field?.options">
          <input class="form-check-input" type="radio" [formControlName]="field?.key" [value]="radioOpt.key"
            [id]="radioOpt.key">
          <label class="form-check-label" [for]="radioOpt.key">
            {{radioOpt.value}}
          </label>
        </div>
      </span>

      <div class="errorMessage" *ngIf="!isValid && form.controls[field.key]?.touched">{{field?.label}} is Invalid</div>
    </div>
    <!-- Button -->
    <button *ngSwitchCase="'button'"
      [type]="field?.type == 'submit'? 'submit': 'button'"
      [ngClass]="field?.type == 'submit'? 'btn-primary': 'btn-danger ' + field?.value +'-btn'"
      [disabled]="field?.type == 'submit' && !form.valid"
      (click)="field?.value == 'cancel'?cancel(): null"
      class="btn text-align-last">{{field?.value}}</button>
  </span>

  <!-- error -->
</span>